body, h1, h2, h3, h4, h5, h6, span {
    font-family: 'Source Sans Pro', sans-serif;
}
h2 {
  color:#3D3D3D;
  font-size: 20px;

}
h4 {
  color:#3D3D3D;
  font-size: 20px;

}

.desc {
  padding-top: 15px;
    font-size: 14px;
    text-align: justify;
    color:#3D3D3D;
}

body {
    position: relative;
}
ul.nav-pills {
    top: 20px;
    position: fixed;
}
div.col-8 div {
/*    height: 800px;*/
  margin-top: 20px;

}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

#chart{
    width:100%;
}

.kf {
  /*text-decoration: underline;*/
  color: #2965AA;
}

.mapSection{
  padding-top: 80px;
}

.carte {
  height: 275px;
  width: 75%;
  margin: 0 auto;
}

/*.description{
  font-size: 14px;
  text-align: justify;
}*/

.dc-chart g.row text {
    dominant-baseline: middle;
    fill: #333;
    font-size: 0.8em;
}

.d3-tip {
    padding: 5px;
    background-color: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 14px;
}